*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 213, 219);
}
.header{
    background-color: rgb(245, 150, 165);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    animation: slideOutUp;
    animation-duration: 1s; 
}
.header.closeMenu{
    display: block;
}
#main{
    display: flex;
    flex: 8;
}
#container{
    display: flex;
    width: 100%;
    margin: 1% 5%;
}
.column{
    border: 1px solid black;
    width: 20%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: zoomIn;
    animation-duration: 2s; 
}
.column-name{
    width: 100%;
    display: flex;
    flex: 1;
    background-color:#6a8cd1;
    justify-content: center;
    align-items: center;
}
/* input[type=text]{
    width: 100%;
} */
.column-contain{
    width: 100%;
    display: flex;
    flex: 15;
}
.logo{
    position: absolute;
    top:40%;
}
img{
    opacity: 0.6;
    border-radius: 50%;
    border: 1px solid rgb(245, 150, 165);
}
#colonne{
}
#notes{
   
}
.styleIn-header{
    margin-left: 5%;
    margin-right: 10%;
    font-size: large;
    width: 90%;
    height: 30%;
    flex: 2;
    border-radius: 5px;
    border-left: 5px solid #6a8cd1;
}
.styleIn-header:hover{
    background-color: #6a8cd1;
    color: white;
    border-left: 5px solid white;
    animation: pulse;
    animation-duration: 1s; 
}
#menu-burger{
    position: fixed;
    bottom: 10px;
    left: 10px;
   opacity: 0.5;
    padding: 1%;
}
.modal-container{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    animation: zoomIn;
    animation-duration: 2s;
}
.modal-container.show-modal{
    display: block;
}
.modal{
   display: flex;
   flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top:10%;
    left: 40%;
}
#header-modal{
     background-color:rgb(245, 150, 165) ;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 15px;
}
#modal-form{
    display: flex;
    flex: 6;
    padding: 20px;
    background-color: white;
}
#header-modal p{
    margin-left: 5%;
    color: white;
}
#header-modal i{
  text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
#modal-form form div{
    margin: 15px 0;
}
#modal-form form label{
   display: block;
   margin-bottom: 5px;
}
input[type=submit]{
    background-color: rgb(245, 150, 165) ;
    color: white;
}
#modal-form form input{
    padding: 8px;
    width: 100%;
 }
 #modal-form form textarea{

    width: 100%;
 }
 .close-btn{
    margin-left: 40%;
     background-color: transparent;
     position: absolute;
     right: 10px;
 }